*{
	box-sizing: border-box;
}

body {
	font: 400 17px/1.65 Raleway, sans-serif;
	color: #8C8C8C;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-size: 70px;
	margin-bottom: 0px;
	letter-spacing: 1.2px;
}

a {
	color: #fff;
	text-decoration: none;
	margin: 0;
	padding: 0;
	
}

.ba-container {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	
}

.ba-section-intro {
	background: #fff url(../img/background.jpg) no-repeat;
	background-position: top;
	color: #FFF;
	padding: 370px 0 276px ; 
	width: 100%;
}

.ba-header {
	position: absolute;
	width: 100%;
	margin-top: 50px;

}

.ba-header-bar {
	display: flex;
	justify-content: space-between;
}

.ba-menu {
	
	display: flex;
	justify-content: space-between;
	
}

.ba-menu li {
	list-style: none;
	margin-right: 30px;
	padding: 5px 10px;
}

.ba-menu li a:hover {
	color: #FF5F60;
}


.ba-button-hollow {
	background: #FF5F60;
	border-radius: 100px;
	padding: 15px 40px;
}

.ba-button-hollow:hover {
	background: none;
	border: 1px solid #fff;
}

.ba-intro-subtitle {
	margin-bottom: 60px;
}

.ba-students {
	position: absolute;
	top: 250px;
	margin: 0 150px;
	padding-left: 250px;
}